html {
	padding: 0px;
	margin: 30px;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	background: url("http://media.vogue.com/r/c_1,h_396,w_660/2015/02/02/HCH_3000.jpg");
	background-size: cover;
}

.leftColumn {
	float: left;
	width: 60%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.rightColumn {
	float: right;
	width: 37%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.bottomColumn {
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
	margin-bottom: 10px;
	height: 130px;
}

h1, h3 {
	text-align: center;
}

.menuCategories button {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 0 10px;
}

.menuCategories button:hover {
	background: black;
	color: white;
}

.menuCategories ul {
	list-style: none;
	margin: 0 auto;
	margin-top: 30px;
	margin: 10px;
}

.menuCategories li {
	margin: 3px;
}

.receipt li {
	margin: 3px;
}

.menuItemsHide {
	display: none;
	text-align: left;
}

.receipt li {
	list-style-type: none;
}

form {
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

#totalBeforeTax, #salesTax, #finalTotal {
	text-align: center;
}

p #orderTotalText {
	color: blue;
	font-size: 15px;
}

#newOrder {
	display: block;
	margin: 0 auto;
}

.multipleOrders ul {
	list-style-type: none;
}

.multipleOrders li {
	display: inline-block;
	margin: 0 10px;

}

.multipleOrders li button {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 0 2px;
}

#calculations {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
}
