html {
	padding: 0px;
	margin: 40px;
	font-family: 'Lato', sans-serif;
	background: url("http://media.vogue.com/r/c_1,h_396,w_660/2015/02/02/HCH_3000.jpg");
	background-size: cover;
}

.leftColumn {
	float: left;
	width: 60%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.rightColumn {
	float: right;
	width: 37%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.bottomColumn {
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
	margin-bottom: 10px;
	height: 130px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	background: #00A896;
	display: block;
	margin: 50px;
	color: white;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	display: block;
	background: #05668D;
	margin: 20px 50px;
	color: white;
}

.rightColumn img {
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menuCategories {
	text-align: center;
}

.menuCategories ul{
	margin-right: -10px;
	max-width: 550px;
}

.menuCategories li {
	margin: 3px;
	margin: 0 auto;
	width: 100%;
	list-style: none;
}

.menuCategories button {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 4px;
	font-size: 13px;
	text-transform: uppercase;
}

.menuCategories button:hover {
	background: black;
	color: white;
}

.menuItemsHide {
	display: none;
	text-align: left;
	margin: 0 auto;
}

.menuItemsHide li {
	margin: 3px;
}

.multipleOrders ul {
	list-style-type: none;
}

.multipleOrders li {
	display: inline-block;
	margin: 5px;
}

.multipleOrders li button {x;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 0 2px;
	text-transform: uppercase;
	font-size: 12px;
}


.receipt li {
	list-style-type: none;
	margin: 3px;
}


#calculations {
	margin: 0 auto;
	width: 70%;
	text-align: left;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

input, textarea {
	width: 50%;
	border: 1px solid black;
	font-size: 14px;
}


#saveOrder {
	background-color: #C7104B;
	color: white;
	border-radius: 20px;
	border: 1px solid white;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}

#clearButton {
	background-color: #7f8c8d;
	color: white;
	border-radius: 20px;
	border: 1px solid white;
	text-align: center;
	margin: 0 auto;
}